<!DOCTYPE html>
<style>
div.card-panel {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
}
</style>

<html>
  <head>
    <meta charset="utf-8">
    <title>Partiu!</title>
  </head>
  <body background="https://c2.staticflickr.com/4/3920/15093870835_0f96c83585_o.jpg">
    <div class="container">
      <div class="card-panel blue">
        <div>
          <h1 class="white-text center-align">Partiu!</h1>
        </div>
      </div>
      <div class="card-panel" >
        <h5> O que é o "Partiu!"?</h2>
        <ul>
          <li>Aplicativo que permite pessoas com amigos em comum combinarem caronas.</li>
      </ul>
      </div>
      <div class="card-panel">
        <h5> Plataformas </h2>
        <ul>
          <li>O "Partiu!" está sendo desenvolvido para as plataformas mobile iOS e
          <a href="https://play.google.com/apps/testing/com.mdsgpp.partiuapp">Android</a>.
          </li>
      </ul>
      </div>
      <div class="card-panel">
        <h5> Repositório </h2>
        <ul>
          <li>O "Partiu!" é uma aplicação de código livre, o mesmo está disponível no 
            <a href="https://github.com/mdsgpp2016">github</a>.
          </li>
      </ul>
      </div>
      <div class="card-panel">
        <h5> Política de privacidade. </h2>
        <ul>
          <li> A política de privacidade do "Partiu!" está disponível
            <a href="/privacy">aqui</a>.
          </li>
      </ul>
      </div>
  </body>
</html>
