<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Partiu!</title>
  </head>
  <body>
    <div class="container">
      <div class="card-panel blue">
        <div>
          <h1 class="white-text center-align">Partiu! Caronas entre amigos</h1>
        </div>
      </div>
      <div class="card-panel">
        <h2> O que é o 'Partiu!'?</h2>
        <ul>
          <li>Aplicativo que permite pessoas com amigos em comum combinarem caronas.</li>
  </body>
</html>
