<footer class="page-footer light-blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Partiu</h5>
        <p class="grey-text text-lighten-4">Somos uma equipe de desenvolvimento formados por estudantes da Universidade de Brasília - FGA dentro das disciplinas de Métodos de Desenvolvimento de Software (MDS) e Gestão de Portifólio e Produtos de Software (GPP).</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">MDS</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/danmoura17">Daniel Moura</a></li>
          <li><a class="white-text" href="https://github.com/eduqg">Eduardo Gomes</a></li>
          <li><a class="white-text" href="https://github.com/sconetto">João Pedro</a></li>
          <li><a class="white-text" href="https://github.com/VictorArnaud">Victor Arnaud</a></li>
          <li><a class="white-text" href="https://github.com/miguelpimentel">Miguel Pimentel</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">GPP</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/DylanGuedes">Dylan Guedes</a></li>
          <li><a class="white-text" href="https://github.com/vital-edu">Eduardo Vital</a></li>
          <li><a class="white-text" href="https://github.com/gutioliveira">Gustavo Cavalcante</a></li>
          <li><a class="white-text" href="https://github.com/wiltonsr">Wilton Rodrigues</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="center footer-copyright">
    <div class="container">
      2016 Partiu! -  <a class="white-text text-lighten-3" href="https://github.com/mdsgpp2016/backend/blob/devel/LICENSE">Licença MIT</a>
    </div>
  </div>
</footer>
