<div class="navbar-fixed">
  <nav class="light-blue" role="navigation">
    <div class="nav-wrapper container">
      <b>
        <row>
        <a id="logo-container" href="/" class="brand-logo white-text">
          <div class="responsive-image" style="vertical-align: center;">
          <%= image_tag 'logo.png' , height: "50", width: "50", align: "center", alt: "logo"%>
          </div>
        </a>
        </row>
      </b>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://play.google.com/apps/testing/com.mdsgpp.partiuapp" class="waves-effect waves-light btn red"><strong>Baixe agora</strong></a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://play.google.com/apps/testing/com.mdsgpp.partiuapp" class="waves-effect waves-light btn red"><strong>Baixe agora</strong></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
